Importing libraries and loading environment variables from a .env file containing the API Key

In [8]:
import requests
import tmdbsimple as tmdb
import pandas as pd

from dotenv import load_dotenv
import os

# This loads the environment variables from the .env file
load_dotenv()

# This retrieves the API Key
API_KEY = os.getenv("TMDb_API_KEY")

if not API_KEY:
    raise ValueError("TMDB API Key not found. Make sure it's set in the .env file.")

Establishing variables, requesting the URL, setting up the API key...

In [9]:
# Set the TMDb API Key for tmdbsimple
tmdb.API_KEY = API_KEY
base_URL = "https://api.themoviedb.org/3"
url = f"{base_URL}/person/{6384}/movie_credits?api_key={API_KEY}"

print(f"Requesting URL: {url}")
response = requests.get(url)

Requesting URL: https://api.themoviedb.org/3/person/6384/movie_credits?api_key=93b29bf0b851209878217fccd1d8ca1a

Establishing a dataframe and running a basic check for response status codes

In [10]:
# Checking the response status
if response.status_code == 200: 
    try:
        # Parsing JSON response 
        movie_data = response.json()
        print(f"Request Successful!")
        # Extracting 'cast' information and creating a DataFrame
        movies = movie_data.get('cast', [])
        df = pd.DataFrame(movies)
        # Displaying the first few rows of the DataFrame
        print(df.head())
    except requests.exceptions.JSONDecodeError:
        print("Error: Response could not be decoded as JSON")
else:
    print(f"Error: {response.status_code} - {response.reason}")

Request Successful!
   adult                     backdrop_path         genre_ids    id  \
0  False  /gVw5NVGsGDhEeYUS1DeFWeLdQ16.jpg       [18, 10749]   859
1  False  /stSaFz5CtMXwIj3r4MDjqxqWRot.jpg              [18]   468
2  False  /3PQLohxgvjUQgF94sY5SEgVKSS6.jpg      [28, 53, 80]  1089
3  False  /tIG8FwHRiHLOlWJdizp2oxdkSL2.jpg      [14, 28, 27]   561
4  False  /h5h2zpha5480Nea2saKTyF8KNBk.jpg  [28, 80, 18, 53]  1266

  original_language        original_title  \
0                en    Dangerous Liaisons
1                en  My Own Private Idaho
2                en           Point Break
3                en           Constantine
4                en          Street Kings

                                            overview  popularity  \
0  In 18th century France, Marquise de Merteuil a...      19.824
1  In this loose adaptation of Shakespeare's "Hen...      18.235
2  In Los Angeles, a gang of bank robbers who cal...      40.398
3  John Constantine has literally been to Hell an...     101.763
4  Tom Ludlow is a disillusioned L.A. Police Offi...      19.573

                        poster_path release_date                 title  video  \
0  /7etDozwd9Pf5oCcyo4h1Hki6U13.jpg   1988-12-21    Dangerous Liaisons  False
1  /p9E6Wp6RaqxH1ORy4mNL9Jgas48.jpg   1991-02-01  My Own Private Idaho  False
2  /tlbERIghrQ4oofqlbF7H0K0EYnx.jpg   1991-07-12           Point Break  False
3  /vPYgvd2MwHlxTamAOjwVQp4qs1W.jpg   2005-02-08           Constantine  False
4  /csXyZ1BsDBlH0PXkOFWxggEf9WF.jpg   2008-04-10          Street Kings  False

   vote_average  vote_count                     character  \
0         7.200        1146  Le Chevalier Raphael Danceny
1         7.100        1116                   Scott Favor
2         7.163        3544                   Johnny Utah
3         7.093        7166              John Constantine
4         6.600        1477          Detective Tom Ludlow

                  credit_id  order
0  52fe4283c3a36847f8024c85      4
1  52fe4247c3a36847f8011cf9      1
2  52fe42e7c3a36847f802b8a1      0
3  52fe4252c3a36847f8015399      0
4  52fe42ebc3a36847f802cf67      0

Taking the initial data I'm getting and structuring it with a DataFrame

In [11]:
columns = ['title', 'release_date', 'character', 'revenue']
refined_movies = []

for movie in movies:
    refined_movies.append({
        'title': movie.get('title'),
        'release_date': movie.get('release_date'),
        'character': movie.get('character'),
        'revenue': movie.get('revenue')
    })
    
df_refined = pd.DataFrame(refined_movies, columns=columns)
print(df_refined[:5])

                  title release_date                     character revenue
0    Dangerous Liaisons   1988-12-21  Le Chevalier Raphael Danceny    None
1  My Own Private Idaho   1991-02-01                   Scott Favor    None
2           Point Break   1991-07-12                   Johnny Utah    None
3           Constantine   2005-02-08              John Constantine    None
4          Street Kings   2008-04-10          Detective Tom Ludlow    None

Setting the base URL for the new 'Whoa' API

In [12]:
whoa_base_url = "https://whoa.onrender.com/"
# I will adjust this based on API needs
endpoint = "whoas/random"

Defining the new API call

In [ ]:
response = requests.get(f"{whoa_base_url}{endpoint}")
if response.status_code == 200:
    try:
        whoa_data = response.json()
        print("Data Retrieved Successfully")
        print(whoa_data)
    except requests.exceptions.JSONDecodeError:
        print("Error decoding JSON response")
else:
    print(f"Error: {response.status_code} - response.reason")

I'm extracting the data into a DataFrame

In [15]:
# Defining columns to extract
columns = ['movie', 'year', 'release_date', 'character', 'total_whoas_in_movie']

whoa_movies = []
for item in whoa_data:
    whoa_movies.append({
        'movie': item.get('movie'),
        'year': item.get('year'),
        'release_date': item.get('release_date'),
        'character': item.get('character'),
        'total_whoas_in_movie': item.get('total_whoas_in_movie')
    })

df_whoa = pd.DataFrame(whoa_movies, columns=columns)
print(df_whoa)

                              movie  year release_date  character  \
0  Bill & Ted's Excellent Adventure  1989   1989-02-17  Ted Logan

   total_whoas_in_movie
0                    26